PRODUCT_PLATFORM_POSTGRES_PASSWORD=vpn
PRODUCT_PLATFORM_JWT_SIGNING_KEY=change-me-please
PRODUCT_PLATFORM_SMTP_ENABLED=false
PRODUCT_PLATFORM_SMTP_HOST=
PRODUCT_PLATFORM_SMTP_PORT=587
PRODUCT_PLATFORM_SMTP_SECURE_SOCKET_MODE=StartTls
PRODUCT_PLATFORM_SMTP_USERNAME=
PRODUCT_PLATFORM_SMTP_PASSWORD=
PRODUCT_PLATFORM_SMTP_FROM_EMAIL=no-reply@etojesim.com
PRODUCT_PLATFORM_SMTP_FROM_NAME=EtoJeSim VPN
PRODUCT_PLATFORM_EMAIL_VERIFICATION_ISSUER=VpnProductPlatform
PRODUCT_PLATFORM_EMAIL_VERIFICATION_AUDIENCE=VpnProductPlatform.EmailVerification
PRODUCT_PLATFORM_EMAIL_VERIFICATION_SIGNING_KEY=
PRODUCT_PLATFORM_EMAIL_VERIFICATION_LIFETIME_HOURS=24
PRODUCT_PLATFORM_EMAIL_VERIFICATION_CABINET_BASE_URL=http://5.61.37.29
PRODUCT_PLATFORM_CONTROL_PLANE_BASE_URL=http://192.168.1.2:7001
PRODUCT_PLATFORM_CONTROL_PLANE_JWT_SIGNING_KEY=change-me-please
PRODUCT_PLATFORM_CONTROL_PLANE_JWT_ISSUER=vpn-control-plane
PRODUCT_PLATFORM_CONTROL_PLANE_JWT_AUDIENCE=vpn-control-plane-ui
PRODUCT_PLATFORM_CONTROL_PLANE_JWT_SUBJECT=product-platform
PRODUCT_PLATFORM_CONTROL_PLANE_JWT_ROLE=internal
